<!-- iwt-offer-modal.liquid is the main snippet for processing offers -->
{{ 'iwt-modal-styles.css' | asset_url | stylesheet_tag }}

<script src="{{'iwt-utils.js' | asset_url }}" defer="defer"></script>
<script src="{{'iwt-offer-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{'iwt-offer-cart.js' | asset_url }}" defer="defer"></script>
<script src="{{'iwt-offer-submit.js' | asset_url }}" defer="defer"></script>
<script src="{{'iwt-offer-response.js' | asset_url }}" defer="defer"></script>
<script src="{{'iwt-offer-remarketing.js' | asset_url }}" defer="defer"></script>
<script src="{{'iwt-offer-management.js' | asset_url }}" defer="defer"></script>

<div id="iwt-modal" class="modal-container">
    <div id="iwt-content" class="modal-content">
        <div id="iwt-logos" class="iwt-logo-container">
            <img src="{{ 'IWTLogoStacked.png' | asset_url }}" class="iwt-logo" width="100" height="100" alt="Stacked Logo">
            <span id="iwt-modal-btn" class="modal-close-button">&#9447;</span>
        </div>
        <div id="iwt-core" class="modal-content-container">
            <div id="iwt-offer" class="offer-container" style="display:flex;">
                <h2 class="h2">Wanna Make a Deal? </h2>
                <p class="iwtP">{{ shop.name }} partnered with I Want That! to help you get 
                the things you want at the price that works for you and works for us. Shopping should be fun
                so fill out the form and give us your best shot!
                </p>
             <div id="iwt-cart-table" class="cart-table-container"></div>               
               
             <div id="iwt-modal-error" style="display:none; color: red;"></div>
            
                <form id="iwt-form" class="form-container">
                    <input type="hidden" id="iwt-store-url" name="{{ shop.url }}">
                    <input type="text" placeholder="name" id="iwt-name" name="consumer name" class="inputTXT">
                    <input type="text" placeholder="email address" id="iwt-email" name="consumer email" class="inputTXT">
                    <input type="text" placeholder="mobile number" id="iwt-mobile" name="consumer mobile" class="inputTXT">
                    <input type="text" placeholder="postal code" id="iwt-postal" name="consumer postal" class="inputTXT">
                    <input type="number" placeholder="offer price" id="iwt-offer-price" name="consumer offer" class="inputTXT">      
                    <div id="iwt-tos" class="terms">
                        <input type="checkbox" id="iwt-tos-checkbox">
                        <label for="iwttos" class="tos-font">
                        I accept the 
                        <a href="https://iwantthat.io/terms-of-service" target="_blank">Terms Of Service</a> of I Want That! Inc.
                        </label>
                    <div id="iwt-tos-error" style="display:none; color: red;">Please agree to the terms and conditions.</div>
                    </div>
                    <div id="iwt-btn-container" class="button-container">
                        <button 
                        id="iwt-submit-offer"
                        class="iwt-submit-offer" 
                        onclick="">
                        Submit My Offer!
                        <img src="{{ 'IWTLogoIconRight.png' | asset_url }}" class="iwt-logo-icon" width="30" height="30" alt="Logo Icon Right"> 
                        </button>
                    </div>
                </form>
            </div>
        </div>
          <!-- Offer Response Section -->
        <div id="iwt-response" class="modal-offer-response" style="display: none;">
            <div id="iwt-response-logos" class="iwt-response-logo">
                <img src="{{ 'WooHoo.png' | asset_url }}" id="woohoo-image" class="woo-hoo-image" width="300" height="107" style="display: none;" alt="WooHoo Image"/>
                <img src="{{ 'Whoops.png' | asset_url }}" id="whoops-image" class="whoops-image" width="300" height="107" style="display: none;"alt="Whoops Image"/>
                <img src="{{ 'Pending.png' | asset_url }}" id="pending-image" class="pending-logo-image" width="300" height="107" style="display: none;" alt="Pending Image"/>
            </div>
            <div id="iwt-message" class="response-message-container">
                    <!-- Response message will be populated dynamically -->
            </div>
            <div id="iwt-checkout" class="checkout-container" style="display: none;">
                <a id="iwt-checkout-button" href="" class="iwt-submit-offer">
                    Proceed to Checkout
                    <img src="{{ 'IWTLogoIconRight.png' | asset_url }}" class="iwt-logo-icon" width="30" height="30" alt="Logo Icon Right"> 
                </a>
            </div>
        </div>     
    </div>
</div>

