{{ 'iwt-modal-styles.css' | asset_url | stylesheet_tag }}
<script src="{{ 'iwt-offer-management.min.js' | asset_url }}" defer="defer"></script>



  <div id="iwt-modal-container" class="modal-container">
    <div id="iwt-modal-content" class="modal-content">
    <div id ="iwt-modal-content-container" class="modal-content-container">
      <div id="iwt-logo-container" class="iwt-logo-container">
      <img src="{{ 'IWTLogoStacked.png' | asset_url }}" class="iwt-logo" width="100" height="100">
     <span id="iwt-modal-close-btn" class="modal-close-button">&#9447;</span>
      </div>
      <h2 class="h2">Wanna Make a Deal? </h2>
      <p class="iwt-paragraph">{{shop.name}} partnered with I Want That! to help you get 
      the things you want at the price that works for you and works for us.  Shopping should be fun
      so fill out the form and give us your best shot!
      </p>
      <table id="iwt-cart-table" class="cart-table">
      </table>
      <div id="iwt-modal-error" style="display:none; color: red;"></div>
        <form id="iwt-offer-form" class="form-container">
          <input type="hidden" id="iwt-store-url" name="{{ shop.url }}">
          <input type="text" placeholder="name" id="iwt-consumer-name" name="consumer name" class="inputTXT">
          <input type="text" placeholder="email address" id="iwt-consumer-email" name="consumer email" class="inputTXT">
          <input type="text" placeholder="mobile number" id="iwt-consumer-mobile" name="consumer mobile" class="inputTXT">
          <input type="text" placeholder="postal code" id="iwt-consumer-postal" name="consumer postal" class="inputTXT">
          <input type="number" placeholder="offer amount" id="iwt-consumer-offer" name="consumer offer" class="inputTXT">      
          <div id="iwt-tos-container" class="terms">
            <input type="checkbox" id="iwt-tos-checkbox">
            <label for="iwttos" class="tos-font">
              Checking this box indicates your acceptance of the 
              <a href="https://iwantthat.io/terms-of-service" target="_blank">Terms Of Service</a> of I Want That! Inc
            </label>
            <div id="iwt-tos-error" style="display:none; color: red;">Please agree to the terms and conditions.</div>
          </div>
            <div id="iwt-submit-offer-container" class="button-container">
              <button 
                id="submit-offer-button"
                class="iwt-submit-offer" 
                onclick="">
                Submit My Offer!
                <img src="{{ 'IWTLogoIconRight.png' | asset_url }}" class="iwt-logo-icon" width="30" height="30"> 
              </button>
            </div>
         </form>
        </div>
    </div>
  </div>
<div id="iwt-modal-offer-response" class="modal-offer-response" style="display: none"> 
  <div id="iwt-offer-accept" class="iwt-offer-accepted">
  </div>
  <div id="iwt-offer-decline" class="modal-offer-decline" style="display: none">
   </div>
</div>
